

.home .stories-feed{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.home .filter-text{
  font-size: 14px;
  font-weight: 600;
}
.home select{
  margin-top: 30px;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  font-weight: 700;
  color: #444;
  background-color: white;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
}
.home .newsFeed{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

