.user-card{
  margin-top: 40px;
}
.user-card .user-text{
  padding: 10px 20px;
  background-color: white;
  width: fit-content;
  border-radius: 9px 9px 0 0;
}
.user-card .user-details{
  padding: 20px;
  background-color: white;
  width: 50%;
  border-radius: 0 9px 9px 9px;
  box-shadow: -20px -1px 30px -27px rgba(0,0,0,0.75);
}
.user-card .user-details-header{
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.user-card .user-image{
  margin-right: 15px;
  height: fit-content;
}
.user-card .user-image img{
  width:  100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.user-card .username h3{
  color: black;
}
.user-card .username p{
  margin-top: 2px;
  color: #617d98;
}
.user-card .follow{
  margin-left: auto;
}
.user-card .bio{
  color: #324d67;
  margin-bottom: 18px;  
}
.user-card .follow-div, .user-card .location{
  margin-bottom: 7px;
}
.user-card .link{
  color: #2caeba;
  text-decoration: none;
}
.user-card .check-post{
  margin-top: 20px;
}

@media (max-width: 991.98px) { 
  .user-card .user-details{
    width: 70%;
  }
 }
 @media (max-width: 767.98px) { 
    .user-card .user-details{
      width: 100%;
    }
    .user-card .user-image{
      margin-bottom: 15px;
    }
  }
  @media (max-width: 401.98px){
    .user-card .user-image{
      width: 100%;
    }
  }